<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header :: include-head"/>
</head>
<body>
	
	<th:block th:replace="fragments/header :: include-menu"/>
	

	<div class="container container-height">
		<div class="starter-template">

			<th:block th:if="${error} != null">
				<h2 th:text="${error}"></h2>
			</th:block>
			<th:block th:unless="${error} != null">
				<h2 class = "text-center" th:text="${categoryId}"></h2>
				<th:block th:each="playlist : ${playlists}">
				    <div class = "tiles">
				    	<div th:text="${playlist.name}" class = "tiles-inside text-center"></div>
				    	<img th:src="${playlist.images[0].url}"/>
				    </div>
				    
				</th:block>
				
				
				
			</th:block>
		</div>
	</div>

<th:block th:replace="fragments/footer :: include-footer" />

</body>
</html>