<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header :: include-head"/>
</head>
<body>
	
	<th:block th:replace="fragments/header :: include-menu"/>

	<div class="container container-height">
		<div class="starter-template">
			<th:block th:if="${error} != null">
				<h2 th:text="${error}"></h2>
			</th:block>
			<th:block th:unless="${error} != null">			
				<h1 class = "text-center">Authorization completed</h1>
			</th:block>
		</div>
	</div>

<th:block th:replace="fragments/footer :: include-footer" />

</body>
</html>