<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header :: include-head"/>
</head>
<body>
	
	<th:block th:replace="fragments/header :: include-menu"/>
	

	<div class="container container-height">
		<div class="starter-template">

			<th:block th:if="${error} != null">
				<h2 th:text="${error}"></h2>
			</th:block>
			<th:block th:unless="${error} != null">
				<h2 class = "text-center">New Releases</h2>
				<th:block th:each="album : ${newReleasesList}">
				    <div class = "tiles">
				    	<div class = "tiles-inside text-center">
				    		<span th:each="artist, iterStat : ${album.artists}" th:text="!${iterStat.last} ? ${artist.name} + ', ': ${artist.name}"></span>
				    	</div>
				    	<img th:src="${album.images[1].url}"/>
				    </div>
				    
				</th:block>
				
				
				
			</th:block>
		</div>
	</div>

<th:block th:replace="fragments/footer :: include-footer" />

</body>
</html>